.container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input__email,
.input__btn {
  width: 450px;
  height: 60px;
  padding: 0 16px;
  font-size: 1rem;
  background-color: #fff;
  outline: none;
  border: none;
  margin-top: 15px;
}

.input__btn {
  width: 210px;
  outline: none;
  border: none;
  padding: 7px 17px;
  background-color: #e50914;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.input__btn:hover {
  background-color: #db0510;
}

.input__hideEmail {
  display: none;
}

.error__message {
  margin-top: 7px;
  color: #ffa004;
}

.input__error {
  border-bottom: 2px solid #ffa004;
}

.error__wrap {
  width: 680px;
  max-width: 680px;
  text-align: left;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 690px) {
  .input__email,
  .input__btn {
    width: 400px;
    height: 50px;
    font-size: 0.8rem;
  }

  .input__btn {
    width: 190px;
    padding: 7px 13px;
    font-size: 1.1rem;
  }
}
@media (max-width: 520px) {
  .input__email,
  .input__btn {
    width: 300px;
    font-size: 0.8rem;
  }

  .input__btn {
    width: 165px;
    padding: 5px 12px;
    font-size: 1rem;
  }
}
